# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Prisma
apps/api/prisma/migrations/dev.db*

# Docker
docker/data/